<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="'List of vets...'">Vets page</h1>

<table>

    <thead>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <tb th:text="${vet.getId()}"></tb>
        <tb th:text="${vet.getFirstName()}"></tb>
        <tb th:text="${vet.getLastName()}"></tb>
    </tr>
    </tbody>
</table>
</body>
</html>